# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.spv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Our files.
*.ppm
/shade
/as
/gpuemu
/pcopy_test
*.dSYM
*.gif
foo.s
x.s
out.s
*.lst
